{% extends 'base.html.twig' %}

{% block title %}Societe{% endblock %}

{% block body %}
    <h1>Societe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ societe.nom }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ societe.logo }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ societe.adresse }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ societe.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ societe.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ societe.tel }}</td>
            </tr>
            <tr>
                <th>Nom_contact</th>
                <td>{{ societe.nomContact }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ societe.email }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ societe.website }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ societe.commentaires }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_societe_index') }}" class="btn btn-lg btn-bleu d-grid gap-2 col-6 mx-auto my-2">Retour à la liste des sociétés</a>
    <a href="{{ path('app_societe_edit', {'id': societe.id}) }}" class="btn btn-lg btn-green d-grid gap-2 col-6 mx-auto my-2">Modifier</a>

    {{ include('societe/_delete_form.html.twig') }}
{% endblock %}
