{% extends 'base.html.twig' %}

{% block title %}Missions{% endblock %}

{% block body %}
    <h1 class="text-center">Missions en cours</h1>
    <div class="row">
        <!-- RECEPTION -->
        <div class="col-md-4">
            <h2>Réceptions</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Société</th>
                        <th>Mission</th>
                    </tr>
                </thead>
                <tbody>
                {% for mission in receptions %}
                    <tr>
                        <td>{{ mission.societe.nom }}</td>
                        <td><a href="{{ path('app_missions_details', {'id': mission.id}) }}">{{ mission.titre }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Aucune information trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- /col-4 -->
        <!-- PROSPECTION -->
        <div class="col-md-4">
            <h2>Prospections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Société</th>
                        <th>Mission</th>
                        <th>Progrès</th>
                    </tr>
                </thead>
                <tbody>
                {% for mission in prospections %}
                    <tr>
                        <td>{{ mission.societe.nom }}</td>
                        <td>{{ mission.titre }}</td>
                        <td> # </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Aucune information trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- /col-4 -->
        <!-- ENQUETE -->
        <div class="col-md-4">
            <h2>Enquêtes</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Société</th>
                        <th>Mission</th>
                        <th>Progrès</th>
                    </tr>
                </thead>
                <tbody>
                {% for mission in enquetes %}
                    <tr>
                        <td>{{ mission.societe.nom }}</td>
                        <td>{{ mission.titre }}</td>
                        <td> # </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Aucune information trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- /col-4 -->
    </div> <!-- /row -->
{% endblock %}
