{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <h1>Modifier une mission</h1>

    {{ include('_partials/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="row col-md-6 mx-auto">
        <div class="d-flex justify-content-center col-md-4 mx-auto d-grid gap-2">
            <a href="{{ path('app_statuts_index') }}" class="btn btn-lg btn-orange m-100" target="_blank">
                <i class="fa-solid fa-magnifying-glass"></i> 
                Les statuts
            </a>
        </div>
        <div class="d-flex justify-content-center col-md-4 mx-auto d-grid gap-2">
            <a href="{{ path('app_prerempli_index') }}" class="btn btn-lg btn-orange" target="_blank"><i class="fa-solid fa-magnifying-glass"></i> Les pré-remplis</a>
        </div>
        <div class="d-flex justify-content-center col-md-4 mx-auto d-grid gap-2">
            <a href="{{ path('app_champs_index') }}" class="btn btn-lg btn-orange" target="_blank"><i class="fa-solid fa-magnifying-glass"></i> Les champs</a>
        </div>
    </div>

    <a href="{{ path('app_missions_index') }}" class="btn btn-lg btn-bleu d-grid gap-2 col-6 mx-auto my-2">Retour à la liste des missions</a>

    {{ include('missions/_delete_form.html.twig') }}
{% endblock %}
