{% extends 'base.html.twig' %}

{% block title %}Missions{% endblock %}

{% block body %}
    <h1>Toutes les missions</h1>
    <a href="{{ path('app_missions_new') }}" class="btn btn-lg btn-green d-grid gap-2 col-6 mx-auto my-2">Créer une nouvelle mission</a>
    <table class="table">
        <thead>
            <tr>
                <th>Société</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr style="background-color:{{mission.type.color}};">
                <td>{{ mission.societe.nom }}</td>
                <td>{{ mission.titre }}</td>
                <td>{{ mission.type.type }}</td>
                <td>{{ mission.dateDebut|date('Y-m-d') }}</td>
                <td>{{ mission.dateFin|date('Y-m-d') }}</td>
                {# <td>
                {% for champ in mission.champs %}
                    {{ champ.label }}
                {% endfor %}
                </td> #}
                <td>
                    <a href="{{ path('app_missions_show', {'id': mission.id}) }}" class="btn btn-green"><i class="fa-solid fa-magnifying-glass"></i> Voir plus</a>
                    <a href="{{ path('app_missions_edit', {'id': mission.id}) }}" class="btn btn-bleu">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucune information trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
