{% extends 'base.html.twig' %}

{% block title %}Statuts index{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des statuts</h1>
    <a href="{{ path('app_statuts_new') }}" class="btn btn-lg btn-green d-grid gap-2 col-6 mx-auto my-2">Ajouter un statut</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Couleur</th>
                <th>Definitif</th>
                <th>Supprimer</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td>{{ statut.id }}</td>
                <td>{{ statut.type }}</td>
                <td style="background-color:{{statut.couleur}};">{{ statut.couleur }}</td>
                <td>{{ statut.definitif ? 'Yes' : 'No' }}</td>
                <td>
                    {{ include('statuts/_delete_form.html.twig') }}
                </td>
                <td><a href="{{ path('app_statuts_edit', {'id': statut.id}) }}" class="btn btn-bleu">Modifier</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
