{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Tous les utilisateurs </h1>
   
        <table class="table">
            <thead class="bg-violet">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Société</th>
                </tr>
            </thead>
            {% for user in users %}
            <tbody>
                <td><a href="{{ path('app_users_fiche', {'id': user.id}) }}" title="Accès à sa fiche">{{ user.nom }}</a></td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for role in user.roles %}
                    {{ role }}
                {% endfor %}
                </td> 
                <td>{{ user.societe.nom }}</td>
            </tbody>
            {% endfor %}
        </table>


{% endblock %}

